<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Todo list - Register</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js"></script>
  <link rel="stylesheet" type="text/css" href="css/auth.css">
</head>
<body>
<div id="register-vue">
  <div class="header">
    <div><h1>Register</h1></div>
    <div><h1><a href="/login">Login</a></h1></div>
  </div>

  <div><p class="error-message">{{ errorMessage }}</p></div>
  <form v-on:submit.prevent="register">
    <label for="email">Email</label>
    <input v-model="email" id="email" name="email" placeholder="Enter your email..." type="email" required>
    <label for="password">Password</label>
    <input v-model="password" id="password" name="password" placeholder="Enter your password..." type="password" required>
    <button type="submit">Login</button>
  </form>
</div>

<script>
  let self = new Vue({
      el: '#register-vue',
      data: {
          email: null,
          password: null,
          errorMessage: null,
      },
      methods: {
        register: async function () {
              await axios.post('/register',
                  {
                      email: self.email,
                      password: self.password,
                  }
              ).then(function (response) {
                  self.errorMessage = response.data.message;
                  setTimeout(function () {
                    window.location.replace("/")
                  }, 3000);
              }).catch(function (error) {
                  self.errorMessage = error.response.data.message;
              });
          },
      },
  })
</script>
</body>
</html>
