<div>
    <h1>Thank you for suscribing to Todo-List service !</h1>
    <div>
        Click on this link to confirm and finalize your registration : <a href="/confirmation/{{ url_token }}">Confirm registration</a>.
    </div>
</div>