<div>
    <table>
        <thead>
            <tr>
                <th>Priority</th>
                <th>Description</th>
                <th>Day(s) since add</th>
            </tr>
        </thead>
        <tbody>
        {{#each this}}
            <tr>
                <td>{{priority}}</td>
                <td>{{text}}</td>
                <td>
                    {{#if (eq days_since_added 0)}}Less than {{/if}}{{#if (eq days_since_added 0)}}1{{else}}{{days_since_added}}{{/if}} day{{#if (gte days_since_added 2)}}s{{/if}}
                </td>
            </tr>
        </tbody>
        {{/each}}
    </table>
</div>