<html lang="fr">
<head>
  <meta charset="utf-8"/>
  <title>Todo list</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js"></script>
  <script src="https://unpkg.com/http-vue-loader"></script>
</head>
<body>
<a style="float:right" href="/logout"><button>Logout</button></a>
<div id="todo-list-example">
  <form v-on:submit.prevent="addNewTodo">
    <label for="new-todo-text">Add a todo</label>
    <textarea
            v-model="newTodoText"
            id="new-todo-text"
            placeholder="E.g. Feed the cat"
            required
    ></textarea>
    <label for="new-todo-priority"> with priority </label>
    <input
            v-model="newTodoPriority"
            id="new-todo-priority"
            type="number"
            min=0
            max=5
            required
    />
    <button>Add</button>
  </form>
  <table>
    <thead>
      <tr>
        <th>Priority</th>
        <th>Description</th>
        <th>Day(s) since add</th>
      </tr>
    </thead>
    <tbody>
      <tr
          is="todo-item"
          v-for="(todo, index) in todos"
          v-bind:key="todo.id"
          v-bind:text="todo.text"
          v-bind:priority="todo.priority"
          v-on:remove="removeTodo(index, todo)"
      ></tr>
    </tbody>
  </table>
</div>
<script>
    Vue.component('todo-item', {
        template: '\
    <tr>\
      <td>{{ priority }}</td>\
      <td>{{ text }}</td> \
      <td>(N/A)</td>\
      <td><button v-on:click="$emit(\'remove\')">Remove</button></td>\
    </tr>\
  ',
        props: ['text', 'priority']
    });

    abc = new Vue({
        el: '#todo-list-example',
        data: {
            newTodoPriority: null,
            newTodoText: null,
            todos: [
                // id: int
                // priority: int
                // text: string
            ],
        },
        mounted () {
            axios
                .get(`${window.location.origin}/todo`)
                .then(response => (this.todos = response.data));
        },
        methods: {
            addNewTodo: async function () {
                const r = await axios.post('/todo/add',
                    {
                        text: this.newTodoText,
                        priority: parseInt(this.newTodoPriority, 10),
                    }
                );
                this.todos.push({
                    priority: this.newTodoPriority,
                    text: this.newTodoText,
                    id: r.data,
                });

                this.todos = _.sortBy(this.todos, ['priority', 'text']);

                this.newTodoText = '';
                this.newTodoPriority = 0;
            },
            removeTodo: function(index, todo) {
                if(confirm(`Do you really want to delete the task : ${todo.text}`)) {
                    this.todos.splice(index, 1);
                    axios.get(`${window.location.origin}/todo/${todo.id}`);
                }
            }
        },
    })
</script>
</body>
<style>
  td, th, table {
    border: 1px solid black;
  }
  table, button {
    width: 100%;
  }
</style>
</html>
